/* html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

h4 {
  color: var(--mid);
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 1rem;
  text-align: center;
  pointer-events: none;
}

.container {
  position: relative;
  width: 90vw;
  height: 90vh;
  max-width: 90vh;
  max-height: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
  background: #0e100f;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.cannon {
  position: relative;
  z-index: 10;
  background: transparent;
}

.flair-container {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.flair {
  width: 50px;
  height: 50px;
  background-image: url("https://assets.codepen.io/16327/flair.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.flair-bullet {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  will-change: transform;
  opacity: 0;
}

/* javascript */
.flair--2 {
  background-image: url("https://th.bing.com/th/id/OIP.K8n8iUVJN-3BTb9szXFesQHaHa?w=195&h=195&c=7&r=0&o=5&dpr=1.3&pid=1.7"); 
}

/* python */
.flair--3 {
  background-image: url("https://th.bing.com/th/id/OIP.kbO1T90NqtfN3K-K58a20wHaHa?w=193&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* java */
.flair--4 {
  background-image: url("https://th.bing.com/th/id/OIP.VgeDz2Q_Bk3BViQWJUmmEAHaHa?w=168&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* cpp */
.flair--5 {
  background-image: url("https://th.bing.com/th/id/OIP.M7HlIEgbl88MbogSFNzFgQHaHa?w=184&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* swift */
.flair--6 {
  background-image: url("https://th.bing.com/th/id/OIP.t59vDSfGZKTlKrDvFNdOowHaHa?w=164&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* go */
.flair--7 {
  background-image: url("https://w7.pngwing.com/pngs/403/502/png-transparent-golang-go-google-programming-language-systems-programming-golang-logo-3d-icon.png");
}

/* node */
.flair--8 {
  background-image: url("https://th.bing.com/th/id/OIP.7GgA3ppsiPQmZMitmTb8rAHaHa?rs=1&pid=ImgDetMain");
}

/* express */
.flair--9 {
  background-image: url("https://th.bing.com/th/id/OIP.mbGqG9oLZIhHr4KoESQtIAHaJ4?w=136&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* html */
.flair--10 {
  background-image: url("https://th.bing.com/th/id/OIP.PhYSvWnL3VVzmEjI1KeqzQHaHa?w=152&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* css */
.flair--11 {
  background-image: url("https://th.bing.com/th/id/OIP.pCPLp1n_wgGPgPePPxbuMgAAAA?w=154&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* mongoDB */
.flair--12 {
  background-image: url("https://th.bing.com/th/id/OIP.1nuWIF0xilPAN_HicGvsGwAAAA?w=145&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* react */
.flair--13 {
  background-image: url("https://th.bing.com/th/id/OIP.Jfgw4g3xtdbtcLOmk1CKBwHaHa?w=165&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* next */
.flair--14 {
  background-image: url("https://th.bing.com/th/id/OIP.yjfKrSsUWsTNsU9Oae9dRgHaHa?w=172&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* php */
.flair--15 {
  background-image: url("https://th.bing.com/th/id/OIP.NpzZklzExbAcB3Yuzt-x9gHaF7?w=255&h=204&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* rust */
.flair--16 {
  background-image: url("https://th.bing.com/th/id/OIP.CfmxY9Ky4ZGn8qL5VWpurwHaHa?w=183&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* c# */
.flair--17 {
  background-image: url("https://e7.pngegg.com/pngimages/328/221/png-clipart-c-programming-language-logo-microsoft-visual-studio-net-framework-javascript-icon-purple-logo.png");
}

/* TS */
.flair--18 {
  background-image: url("https://www.svgrepo.com/show/459084/logo-ts.svg");
}

/* ruby */
.flair--19 {
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/73/45/ruby-programming-language-web-vector-5977345.jpg");
}

/* dart */
.flair--20 {
  background-image: url("https://th.bing.com/th/id/OIP.a0FqqtlKEf9lnl0O3t5M6AHaDn?w=306&h=171&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* scale */
.flair--21 {
  background-image: url("https://th.bing.com/th/id/OIP.MeYluyIl4JPdxvM3Gl_4CQHaHa?w=171&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* js */
.flair--22 {
  background-image: url("https://th.bing.com/th/id/OIP.K8n8iUVJN-3BTb9szXFesQHaHa?w=195&h=195&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* python */
.flair--23 {
  background-image: url("https://th.bing.com/th/id/OIP.kbO1T90NqtfN3K-K58a20wHaHa?w=193&h=193&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* java */
.flair--24 {
  background-image: url("https://th.bing.com/th/id/OIP.VgeDz2Q_Bk3BViQWJUmmEAHaHa?w=168&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* node */
.flair--25 {
  background-image: url("https://th.bing.com/th/id/OIP.7GgA3ppsiPQmZMitmTb8rAHaHa?rs=1&pid=ImgDetMain");
}

/* react */
.flair--26 {
  background-image: url("https://th.bing.com/th/id/OIP.Jfgw4g3xtdbtcLOmk1CKBwHaHa?w=165&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* css */
.flair--27 {
  background-image: url("https://th.bing.com/th/id/OIP.pCPLp1n_wgGPgPePPxbuMgAAAA?w=154&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* next */
.flair--28 {
  background-image: url("https://th.bing.com/th/id/OIP.yjfKrSsUWsTNsU9Oae9dRgHaHa?w=172&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* mongoDB */
.flair--29 {
  background-image: url("https://th.bing.com/th/id/OIP.1nuWIF0xilPAN_HicGvsGwAAAA?w=145&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* cpp */
.flair--30 {
  background-image: url("https://th.bing.com/th/id/OIP.M7HlIEgbl88MbogSFNzFgQHaHa?w=184&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

.flair--31 {
  background-image: url("https://th.bing.com/th/id/OIP.NpzZklzExbAcB3Yuzt-x9gHaF7?w=255&h=204&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* go */
.flair--32 {
  background-image: url("https://w7.pngwing.com/pngs/403/502/png-transparent-golang-go-google-programming-language-systems-programming-golang-logo-3d-icon.png");
}

/* node */
.flair--33 {
  background-image: url("https://th.bing.com/th/id/OIP.7GgA3ppsiPQmZMitmTb8rAHaHa?rs=1&pid=ImgDetMain");
}

/* next */
.flair--34 {
  background-image: url("https://th.bing.com/th/id/OIP.yjfKrSsUWsTNsU9Oae9dRgHaHa?w=172&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

/* html */
.flair--35 {
  background-image: url("https://th.bing.com/th/id/OIP.PhYSvWnL3VVzmEjI1KeqzQHaHa?w=152&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

@media (min-width: 768px) {
  .flair,
  .flair-container {
    width: 100px;
    height: 100px;
  }
}